[Desktop Entry]
Encoding=UTF-8
Name=Link to 2017 BMW 530e iPerformance First Drive Review | Combining Large Car Luxury And Plug-In Tech Minus The Price Penalty
Type=Link
URL=https://images.drive.com.au/driveau/image/upload/c_fill,f_auto,g_auto,h_540,q_auto:good,w_960/cms/uploads/6heWlxHKTwqGuV8FMRBt
Icon=image-jpeg
